<div class="top_right">
<%= link_to "<button>Sign Up</button>".html_safe, new_user_path %>
<%= link_to "<button>Post Page</button>".html_safe, posts_path %>
<%= link_to "<button>Home</button>".html_safe, root_path %>
</div>

<h1>Thank you for your intrest, sign up now!</h1>